.pre-scanner-wrapper {
  height: 100%;
}

.body-content {
  margin-bottom: 15px;
}

.info-container {
  padding: 15px 15px 15px 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  background-color: white;
}

.info-container ol {
  text-align: left;
}

.example-image {
  max-width: 100%;
  height: auto;
}

.navigation-bar {
  background-color: transparent;
}