
.scan-wrapper {
  height: 100%;
}

.scanner-placeholder {
  height: 70%;
}

.scan-toolbar {
  background-color: transparent;
}

.scan-tips {
  background-color: white;
  overflow: auto;
  align-items: center;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -1.25em;
  flex: 1;
  padding: 20px;
}

.scan-tips h1 {
  font-weight: bold;
}

.scan-tips ol{
  background-color: white;
  overflow: auto;
  align-items: center;
  text-align: left;
}