<div class="scanner-content">
  <mat-toolbar color="primary">
    <span>Covid Mobile Scanner</span>
  </mat-toolbar>
  <div fxLayout="column" fxLayoutGap="16px" class="body-content">
    <div *ngIf="hasResult$ | async" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
      <mat-icon>notifications_active</mat-icon>
      <div>Please click the notification to view your result.</div>
    </div>
    <button fxFlex="64px" mat-raised-button color="primary" (click)="scan()" class="scan-button" [disabled]="!(deviceId$ | async)">Scan</button>
    <mat-list>
      <div mat-subheader>Recent Scans</div>
      <mat-list-item *ngFor="let scan of scans$ | async">
        <div fxLayout="row" fxLayoutAlign="start center" class="full-width">
          <div fxFlex="116px">{{scan.timestamp | date:'MMM d, yyy'}}</div>
          <div *ngIf="scan.status !== 'edit'">{{scan.tag}}</div>
          <div *ngIf="scan.status === 'edit'">
            <mat-form-field>
              <input matInput [(ngModel)]="editingTag" />
            </mat-form-field>
          </div>
          <div *ngIf="scan.status !== 'edit'">
            <button mat-icon-button color="primary" (click)="editTag(scan)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div *ngIf="scan.status === 'edit'">
            <button mat-icon-button color="primary" (click)="saveTag(scan)">
              <mat-icon>save</mat-icon>
            </button>
          </div>
          <div *ngIf="scan.status === 'result'">
            <button mat-button color="primary" (click)="result(scan)">Result</button>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <div fxLayout="column" fxLayoutGap="26px">
      <div>Click the scan button to scan the tiny square barcode on the bottom of your sample tube. When the code is recognized, the scan window will disappear.  If your phone isn’t recognizing the code:</div>
      <div> Hold the tube between two fingers with the tube bottom flush with your fingers.</div>
      <div> Try zooming in by tapping the small magnifying glass icon.</div>
      <div> Try turning on the “flash” for more light. </div>
    </div>
    <div fxFlex="1 1 100%"></div>
    <button mat-raised-button color="primary" (click)="stop()" class="scan-button" *ngIf="isScanning$ | async">Stop Scanning</button>
  </div>
</div>
