@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.body-content {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.example-image {
  max-width: 100%;
  height: auto;
}

.navigation-bar {
  background-color: transparent;
}