@import '../../../../blue-grey-theme.scss';
$primary: map-get($custom-theme, primary);
$warn: map-get($custom-theme, warn);

.results-wrapper {
  height: 100%;
}

.results-card {
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.result-element {
  padding: 60px 20px 60px 20px;
  text-align: center;
}

.result-element h1 {
  margin-bottom: 0;
}

.result-negative {
  background-image: linear-gradient(to right, #26AAE5 , #1875EE);
}

.result-positive {
  background-image: linear-gradient(to right, #9A0207, #CC2626);
}

.result-text {
  color: white;
  font-weight: bold;
}